.desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 7rem;
}

.none {
    text-decoration: none;
    color: unset;
}

.image-cont {
    height: 3.4rem;
    width: 0%;
}

.imaqe {
    width: 38px;
    height: 100%;
    object-fit: contain;
}